@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=NTR&display=swap');

.left-container {
  display: flex;
}

.right-container {
  display: flex;
}

#introduction {
  height: 60vh;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-position: center center;
  background-size: cover;
}

#introduction-left-container {
  justify-content: flex-end;
}

#introduction-right-container {
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  color: #eeeeee;
}

.neonText {
  color: #eeeeee;
  text-shadow: 0 0 5px #0fa, 0 0 10px #0fa, 0 0 5px #0fa, 0 0 10px #0fa,
    0 0 10px #0fa;
}

#introduction-title {
  animation: flicker 1.5s infinite alternate;
  font-size: 3rem;
  letter-spacing: 4px;
}

#introduction-name {
  font-size: 40px;
  display: flex;
  line-height: 25px;
}

#introduction-ethos {
  font-size: 20px;
  margin-bottom: 10px;
}

#introduction-para {
  font-size: 18px;
  width: 600px;
  line-height: 20px;
  margin-bottom: 30px;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #fff, 0 0 10px #0fa,
      0 0 1px #0fa, 0 0 5px #0fa, 0 0 10px #0fa, 0 0 20px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

#introduction-button {
  background: #0fa;
  border: 2px solid #0fa;
  height: 40px;
  margin: 0 5px;
  color: black;
  font-weight: 700;
  position: relative;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
}

#introduction-button:hover {
  color: #0fa;
}

#introduction-button:before {
  content: '';
  position: absolute;
  background: black;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.09s ease-in;
}

#introduction-button:hover:before {
  top: 0;
}

.game-background {
  background-image: url('Images/TimelessTaleBackground.png');
  background-size: cover;
  background-position: center center;
  height: 60vh;
  border-bottom: 10px solid black;
}

/* games */
#games {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  padding-bottom: 125px;
}

.grid-container {
  display: grid;
  grid-template-columns: 450px 450px 450px 450px;
  grid-row: auto auto;
  grid-gap: 15px;
}
.grid-item {
  text-align: center;
  animation: shadow-pop-br-out 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.grid-item > img {
  width: 100%;
  height: 100%;
}

.grid-item:hover {
  animation: shadow-pop-br-in 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes shadow-pop-br-out {
  0% {
    box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000,
      0 0 #000000, 0 0 #000000, 0 0 #000000;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px 1px #0fa, 2px 2px #0fa, 3px 3px #0fa, 4px 4px #0fa,
      5px 5px #0fa, 6px 6px #0fa, 7px 7px #0fa, 8px 8px #0fa;
    transform: translateX(-8px) translateY(-8px);
  }
}

@keyframes shadow-pop-br-in {
  from {
    box-shadow: 1px 1px #0fa, 2px 2px #0fa, 3px 3px #0fa, 4px 4px #0fa,
      5px 5px #0fa, 6px 6px #0fa, 7px 7px #0fa, 8px 8px #0fa;
    transform: translateX(-8px) translateY(-8px);
  }
  to {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
}
