@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap');

.left-container {
  display: flex;
  justify-content: center;
}

.right-container {
  display: flex;
}

#introduction {
  height: 75vh;
  padding-top: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 1020px) {
  #introduction {
    height: 100vh;
    flex-direction: column;
    background: url('Images/Wallpaper/Afterlife_Wallpaper.png');
    background-position: center center;
  }
}

#introduction-left-container {
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

@media (max-width: 1020px) {
  #introduction-left-container {
    display: none;
  }
}

#introduction-left-container-mobile-view > img {
  display: none;
  pointer-events: none;
  z-index: 1;
}

@media (max-width: 1020px) {
  #introduction-left-container-mobile-view > img {
    display: flex;
    border-radius: 100%;
    width: 250px;
  }
}

#introduction-banner {
  position: absolute;
  top: -5px;
  background: no-repeat url('Images/Wallpaper/fightbanner.png');
  background-position: center top;
  background-size: cover;
  height: 85vh;
  width: 101%;
  filter: brightness(0.6);
}

@media (max-width: 1020px) {
  #introduction-banner {
    display: none;
  }
}

.pfp-cropped {
  height: 100%;
}

#pfp-cropped-shadow {
  position: relative;
  right: 10px;
  bottom: 15px;
  z-index: 5;
  user-select: none;
}

#pfp-cropped-image {
  position: absolute;
  right: 0;
  bottom: 15px;
  z-index: 6;
  user-select: none;
}

#introduction-right-container {
  flex-direction: column;
  padding: 20px 30px;
  color: #eeeeee;
  backdrop-filter: blur(0);
  height: 420px;
}

@media (max-width: 1020px) {
  #introduction-right-container {
    text-align: center;
    align-items: center;
    height: unset;
    padding: 25px 30px;
    backdrop-filter: blur(2px);
  }
}

.wrap {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

@media (max-width: 1020px) {
  .wrap {
    margin-left: 0;
    margin-top: 40px;
  }
}

@media (max-width: 1020px) {
  .animated-border {
    border: 1px solid #fff;
    position: relative;
  }
  .animated-border::before,
  .animated-border::after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
  }
  .animated-border::before {
    top: -10px;
    left: -10px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
  }
  .animated-border::after {
    bottom: -10px;
    right: -10px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}

#introduction-title {
  font-family: 'Nunito Sans', sans-serif;
  color: #0fa;
  text-shadow: 7px 6px black, 6px 5px black, 5px 4px black, 4px 3px black,
    3px 2px black, 2px 1px black, 1px 0px black;
  font-size: 3rem;
  letter-spacing: 4px;
}

#introduction-name {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 40px;
}

#introduction-ethos {
  font-size: 22px;
  margin-bottom: 10px;
}

#introduction-para {
  font-size: 22px;
  width: 600px;
  line-height: 20px;
  margin-bottom: 30px;
}

@media (max-width: 1020px) {
  #introduction-para {
    width: 400px;
  }
}

#introduction-button {
  width: 50%;
  height: 45px;
  color: black;
  border: 5px solid black;
  box-shadow: 5px 5px black;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  cursor: pointer;
  background: #0fa;
  transition: box-shadow 0.5s, margin-right 0.5s, margin-bottom 0.5s;
}

@media (max-width: 940px) {
  #introduction-button {
    width: 400px;
  }
}

#introduction-button:hover {
  margin-right: -2px;
  margin-bottom: -2px;
  box-shadow: 3px 3px black;
}

#introduction-button:before {
  content: '';
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -5;
  transition: top 0.2s ease-in;
}

#introduction-button:hover:before {
  top: 0;
}

/* games */
#games {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  padding-bottom: 200px;
  position: relative;
  z-index: 2;
}

@media (max-width: 940px) {
  #games {
    padding-bottom: 100px;
    display: block;
  }
}

#games-grid-container {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  grid-row: auto auto;
  grid-gap: 40px;
}

@media (max-width: 1880px) {
  #games-grid-container {
    grid-template-columns: 450px 450px;
  }
}

.games-grid-item {
  text-align: center;
  border: 10px solid black;
}

@media (max-width: 940px) {
  .games-grid-item {
    display: none;
  }
}

/* intersection observer animation */
.games-grid-item-load-animation1 {
  animation: shadow-pop-br-out 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.games-grid-item-load-animation2 {
  animation: shadow-pop-br-out 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation-delay: 0.2s;
}
.games-grid-item-load-animation3 {
  animation: shadow-pop-br-out 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation-delay: 0.4s;
}
.games-grid-item-load-animation4 {
  animation: shadow-pop-br-out 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@media (max-width: 1880px) {
  .games-grid-item-load-animation4 {
    animation-delay: 0.6s;
  }
}

.games-grid-item > a > img {
  width: 100%;
  height: 100%;
}

.games-grid-items:hover {
  animation: shadow-pop-br-in 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@keyframes shadow-pop-br-out {
  0% {
    box-shadow: 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000, 0 0 #000000,
      0 0 #000000, 0 0 #000000, 0 0 #000000;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px 1px #0fa, 2px 2px #0fa, 3px 3px #0fa, 4px 4px #0fa,
      5px 5px #0fa, 6px 6px #0fa, 7px 7px #0fa, 8px 8px #0fa;
    transform: translateX(-8px) translateY(-8px);
  }
}

@keyframes shadow-pop-br-in {
  from {
    box-shadow: 1px 1px #0fa, 2px 2px #0fa, 3px 3px #0fa, 4px 4px #0fa,
      5px 5px #0fa, 6px 6px #0fa, 7px 7px #0fa, 8px 8px #0fa;
    transform: translateX(-8px) translateY(-8px);
  }
  to {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
}

/* Game Designs */
.game-background {
  background-size: cover;
  background-position: center center;
  height: 95vh;
}

#lunarnauts {
  background-image: url('Images/Wallpaper/Lunarnauts_Wallpaper.png');
}
#afterlife {
  background-image: url('Images/Wallpaper/Afterlife_Wallpaper.png');
}
#timeless-tales {
  background-image: url('Images/Wallpaper/TimelessTale_Wallpaper.png');
}
#grow-inc {
  background-image: url('Images/Wallpaper/Growinc_Wallpaper.png');
  background-size: unset;
}

.game-center-cta {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.watch-cta {
  background-image: url('Videos/TimelessTale_video.mp4');
  background-position: center center;
  background-size: 100%;
  width: 45vh;
  height: 25vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.watch-cta:hover {
  background-size: 110%;
}

.watch-button {
  width: 40px;
  margin-bottom: 10px;
  transition: 0.5s ease-in-out;
}

.watch-cta:hover > .watch-button {
  transform: scale(0.8);
}

.watch-trailer {
  font-weight: bold;
  transition: 0.5s ease-in-out;
}

.watch-cta:hover > .watch-trailer {
  transform: scale(0.9);
  color: white !important;
}

.trailer-modal {
  display: none;
  position: fixed;
  z-index: 9998;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.trailer-modal-content {
  background-color: #00000000;
  height: 68%;
  width: 68%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.trailer-modal-content > iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.trailer-modal-close {
  display: inline-block;
  background-color: #0fa;
  border: 5px solid black;
  box-shadow: 5px 5px black;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  top: 105px;
  right: 30px;
  color: black;
  font-size: 42px;
  line-height: 65px;
  font-weight: bold;
}

.trailer-modal-close:hover,
.trailer-modal-close:focus {
  cursor: pointer;
}

.game-info-container {
  display: flex;
  flex-direction: column;
  color: black;
  width: 19vw;
}

.game-info-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.game-quote {
  font-size: 18px;
  color: white;
}

.game-para {
  font-size: 18px;
  color: white;
}

.game-button {
  height: 50px;
  width: 50%;
  color: black;
  border: 5px solid black;
  box-shadow: 5px 5px black;
  font-weight: 800;
  text-transform: uppercase;
}

/* Lunarnauts */
#lunarnauts {
  display: grid;
  grid-template-columns: 35vw 30vw 35vw;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}

#lunarnauts-mascot-container {
  width: 100%;
  height: 95vh;
  pointer-events: none;
  user-select: none;
}

#lunarnauts-mascot-y {
  width: 250px;
}

#lunarnauts-mascot-x {
  animation: lunarnauts-mascot-x 26s linear infinite alternate;
}

#lunarnauts-mascot-y {
  animation: rotation 20s linear infinite alternate,
    lunarnauts-mascot-y 14s linear infinite alternate;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes lunarnauts-mascot-x {
  100% {
    transform: translateX(calc(35vw - 250px));
  }
}

@keyframes lunarnauts-mascot-y {
  100% {
    transform: translateY(calc(95vh - 250px));
  }
}

#lunarnauts-logo {
  width: 100%;
  margin-bottom: 10vh;
}

#lunarnauts-cta {
  border: 8px solid #f8cd61;
  box-shadow: 10px 10px black, 10px 10px 15px #f8cd6198, 0 0 15px #f8cd6198;
  transition: 0.3s ease-in-out;
}

#lunarnauts-cta:hover {
  box-shadow: 16px 16px black, 10px 10px 15px #f8cd6198, 0 0 15px #f8cd6198;
}

#lunarnauts-watch-button {
  filter: invert(80%) sepia(67%) saturate(419%) hue-rotate(340deg)
    brightness(100%) contrast(95%);
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  /* img color filter change */
}

#lunarnauts-watch-trailer {
  color: #f8cd61;
}

img[alt='lunarnauts_banana'] {
  width: 150px;
  align-self: center;
  margin: 30px 0;
}

#lunarnauts-quote {
  color: #f8cd61;
}

#lunarnauts-button {
  margin-top: 10px;
  background-color: #f8cd61;
  position: relative;
  z-index: 10;
  cursor: pointer;
  transition: box-shadow 0.5s, margin-right 0.5s, margin-bottom 0.5s;
}

#lunarnauts-button:hover {
  box-shadow: 8px 7px black;
}

#lunarnauts-button:before {
  content: '';
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -5;
  transition: right 0.2s ease-in;
}

#lunarnauts-button:hover:before {
  right: 0;
}

/* Artworks */
#artworks {
  background: rgb(23, 22, 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  padding-bottom: 125px;
}

#artworks > h1 {
  color: white;
}

#artworks-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row: auto auto;
  grid-gap: 15px;
}

.artworks-grid-item {
}

/* Narrative Design */
#narrative-design {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  padding-bottom: 125px;
}
