body {
  margin: 0;
  padding: 0;
}

#nav-bar {
  height: 10vh;
  background-color: #111111;
  border-bottom: 2px solid rgb(61, 61, 61);
  z-index: 10;
}

.banner {
  background-color: black;
}

.game-background {
  width: 100%;
  height: 75vh;
}
