/* Afterlife */
#afterlife {
  background-image: url('../Images/Wallpaper/Afterlife_Wallpaper.png');
  /* blur this image maybe */
}

#afterlife-mascot-container {
  width: 100%;
  height: 95vh;
  pointer-events: none;
  user-select: none;
}

#afterlife-logo {
  width: 130%;
  margin-top: -175px;
}

#afterlife-cta {
  border: 8px solid #61d7f8;
  box-shadow: 10px 10px black, 10px 10px 15px #61e6f898, 0 0 15px #61e6f898;
  transition: 0.3s ease-in-out;
  margin-top: -25px;
}

#afterlife-cta:hover {
  box-shadow: 16px 16px black, 10px 10px 15px #61e6f898, 0 0 15px #61e6f898;
}

#afterlife-watch-button {
  filter: invert(75%) sepia(33%) saturate(846%) hue-rotate(158deg)
    brightness(100%) contrast(95%);
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  /* img color filter change */
}

#afterlife-watch-trailer {
  color: #61d7f8;
}

img[alt='lunarnauts_banana'] {
  width: 150px;
  align-self: center;
  margin: 30px 0;
}

#afterlife-game-info-details {
  backdrop-filter: blur(2px);
}

#afterlife-quote {
  color: #61d7f8;
}

#afterlife-button {
  margin-top: 10px;
  background-color: #61d7f8;
  position: relative;
  z-index: 10;
  cursor: pointer;
  transition: box-shadow 0.5s, margin-right 0.5s, margin-bottom 0.5s;
}

#afterlife-button:hover {
  box-shadow: 8px 7px black;
}

#afterlife-button:before {
  content: '';
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -5;
  transition: right 0.2s ease-in;
}

#afterlife-button:hover:before {
  right: 0;
}
