/* Afterlife */
#afterlife {
  background-image: url('../Images/Wallpaper/Afterlife_Wallpaper.png');
  cursor: crosshair;
  transition: background-size 2s ease-in-out;
  background-size: 100%;
}

#afterlife:hover {
  background-size: 110%;
}

#afterlife-mascot-container {
  height: 95vh;
  user-select: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#afterlife-mascot-container > img {
  transition: 0.2s ease-in-out;
}

#afterlife-mascot-container > img:hover {
  transform: scale(1.1);
}

#afterlife-logo {
  width: 130%;
  margin-top: -175px;
}

#afterlife-cta {
  border: 8px solid #61d7f8;
  box-shadow: 10px 10px black, 10px 10px 15px #61e6f898, 0 0 15px #61e6f898;
  transition: 0.3s ease-in-out;
  margin-top: -25px;
}

#afterlife-cta:hover {
  box-shadow: 16px 16px black, 10px 10px 15px #61e6f898, 0 0 15px #61e6f898;
}

#afterlife-watch-button {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(353deg)
    brightness(113%) contrast(100%);
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  /* img color filter change */
}

#afterlife-watch-trailer {
  color: #ffffff;
}

#afterlife-game-info-details {
  backdrop-filter: blur(2px);
}

#afterlife-quote {
  color: #61d7f8;
  font-weight: bold;
}

#afterlife-button {
  margin-top: 10px;
  background-color: #61d7f8;
  position: relative;
  width: 100%;
  z-index: 10;
  cursor: pointer;
  transition: box-shadow 0.5s, margin-right 0.5s, margin-bottom 0.5s;
}

#afterlife-button:hover {
  box-shadow: 8px 7px black;
}

#afterlife-button:before {
  content: '';
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -5;
  transition: right 0.2s ease-in;
}

#afterlife-button:hover:before {
  right: 0;
}
