@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=NTR&display=swap');

html {
  scroll-padding-top: 200px;
  scroll-padding: 50px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

@supports (-moz-appearance: none) {
  /*
    Disable in FF due to https://bugzilla.mozilla.org/show_bug.cgi?id=1744289
    using @supports https://stackoverflow.com/a/32455002
  */
  html {
    scroll-snap-type: none;
  }
}

body {
  font-family: 'Encode Sans', sans-serif;
  font-family: 'NTR', sans-serif;
  margin: 0;
}

.hidden {
  visibility: hidden;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 55px;
  color: rgb(48, 53, 63);
  align-self: flex-start;
  margin: 0;
  margin-bottom: 60px;
}

@media (max-width: 940px) {
  h1 {
    margin-bottom: 0;
  }
}

nav {
  position: fixed;
  top: 0;
  height: 75px;
  width: 98%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 9999;
  transition: 1s;
}

@media (max-width: 1135px) {
  nav {
    padding: 0 10px;
  }
}

@media (max-width: 1020px) {
  nav {
    display: none;
  }
}

nav > #left-nav-bar > a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border-width: 0;
  transition: border-bottom 0.2s, border-width 0.2s;
}

nav > #left-nav-bar > a:link,
nav > #left-nav-bar > a:visited,
nav > #left-nav-bar > a:active {
  text-decoration: none;
}

nav > #left-nav-bar > a:hover {
  text-decoration: none;
  border-bottom: solid white;
  border-width: 4px;
}

@media (max-width: 1135px) {
  nav > #left-nav-bar > a {
    padding: 5px 8px;
  }
}

/* left nav */

#left-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#left-nav-bar > * {
  margin: 0 10px;
}

@media (max-width: 1135px) {
  #left-nav-bar > * {
    margin: 0;
  }
}

#right-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* right nav */

#right-nav-bar > * {
  margin: 0 5px;
}

#phone-number {
  font-size: 16px;
  margin-top: 4px;
}

.copy-link {
  display: flex;
}

.copy-link-input {
  font-size: 14px;
  width: 175px;
  font-family: 'Cabin', sans-serif;
  background: none;
  border: none;
  color: white;
  outline: none;
  text-align: right;
}

.copy-link-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.copy-link-button:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

#linkedin {
  width: 40px;
  margin-top: 15px;
}

#linkedin:hover {
  filter: invert(26%) sepia(82%) saturate(2122%) hue-rotate(181deg)
    brightness(91%) contrast(101%);
  animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px);
  }
  40% {
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
  }
  60% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  80% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* footer */

footer {
  height: 13vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  color: white;
  font-size: 18px;
}

footer > img {
  width: 50px;
  margin: 10px;
}

footer > a {
  color: white;
  border-bottom: 2px solid white;
}

footer > a:hover {
  color: #0fa;
  border-color: #0fa;
}

footer > a:link,
footer > a:visited,
footer > a:active {
  text-decoration: none;
}

/* back to top button */

#back-to-top-button {
  display: inline-block;
  background-color: white;
  border: 5px solid black;
  box-shadow: 5px 5px black;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s, bottom 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 9997;
}

#back-to-top-button::after {
  content: '\f077';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: black;
}

#back-to-top-button:hover {
  cursor: pointer;
  background-color: #0fa;
  bottom: 40px;
}

#back-to-top-button:active {
  background-color: #0fa;
}

#back-to-top-button.show {
  opacity: 1;
  visibility: visible;
}
