@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=NTR&display=swap');

html {
  scroll-padding: 50px;
  overflow: hidden;
}

@supports (-moz-appearance: none) {
  /*
    Disable in FF due to https://bugzilla.mozilla.org/show_bug.cgi?id=1744289
    using @supports https://stackoverflow.com/a/32455002
  */
  html {
    scroll-snap-type: none;
  }
}

body {
  font-family: 'NTR', sans-serif;
  margin: 0;
}

.hidden {
  visibility: hidden;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 55px;
  color: rgb(48, 53, 63);
  align-self: flex-start;
  margin: 0;
  margin-bottom: 60px;
}

@media (max-width: 940px) {
  h1 {
    margin-bottom: 0;
  }
}

/* loading screen */

#loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  min-height: 100vh;
  background: #000000;
  color: white;
  animation: slide-out-fwd-center 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation-delay: 2.5s;
  z-index: 9998;
}

@keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: translateZ(1);
    transform: translateZ(1);
    opacity: 1;
    visibility: visible;
  }
  100% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
    visibility: hidden;
  }
}

#cube-bounce {
  animation: cube-bounce 0.5s infinite cubic-bezier(0, 0.3, 0.6, 1) alternate;
}

.cube {
  animation: cube-rotate 10s infinite cubic-bezier(0.2, 0.3, 0.1, 0.7) normal;
  height: 50px;
  position: relative;
  transform-style: preserve-3d;
  width: 50px;
  z-index: 9999;
}

.cube div {
  border: 1px solid #0fa;
  height: inherit;
  position: absolute;
  width: inherit;
}

.cube div:nth-of-type(1) {
  background-color: black;
  transform: translateZ(-25px) rotateY(0deg);
}
.cube div:nth-of-type(2) {
  background-color: black;
  transform: translateZ(25px) rotateX(-180deg);
}
.cube div:nth-of-type(3) {
  background-color: black;
  transform: translateX(-25px) rotateY(-90deg);
}
.cube div:nth-of-type(4) {
  background-color: black;
  transform: translateX(25px) rotateY(90deg);
}
.cube div:nth-of-type(5) {
  background-color: black;
  transform: translateY(-25px) rotateX(-90deg);
}
.cube div:nth-of-type(6) {
  background-color: black;
  transform: translateY(25px) rotateX(90deg);
}

@keyframes cube-bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes cube-rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  10% {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  }
  20% {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(90deg);
  }
  30% {
    transform: rotateX(-90deg) rotateY(180deg) rotateZ(0deg);
  }
  40% {
    transform: rotateX(-90deg) rotateY(270deg) rotateZ(-90deg);
  }
  50% {
    transform: rotateX(-180deg) rotateY(180deg) rotateZ(-90deg);
  }
  60% {
    transform: rotateX(-90deg) rotateY(90deg) rotateZ(-90deg);
  }
  70% {
    transform: rotateX(-90deg) rotateY(180deg) rotateZ(-180deg);
  }
  80% {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(-180deg);
  }
  90% {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(-90deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

#percentage-text {
  font-size: 14px;
  margin-top: 70px;
  margin-bottom: 10px;
}

#percentage-text::before {
  content: '';
  animation: percentage 2s forwards;
}

@keyframes percentage {
  0% {
    content: 'Loading 0%';
  }
  10% {
    content: 'Loading 10%';
  }
  20% {
    content: 'Loading 15%';
  }
  30% {
    content: 'Loading 25%';
  }
  40% {
    content: 'Loading 30%';
  }
  50% {
    content: 'Loading 44%';
  }
  60% {
    content: 'Loading 50%';
  }
  70% {
    content: 'Loading 72%';
  }
  80% {
    content: 'Loading 84%';
  }
  90% {
    content: 'Loading 92%';
  }
  100% {
    content: 'Loading 100%';
  }
}

#loading-bar {
  width: 400px;
  max-width: 85vw;
  height: 4px;
  border-radius: 4px;
  background: rgba(white, 0.5);
  z-index: 1;
  overflow: hidden;
}

#loading-bar:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: white;
  animation: load 2s linear;
}

@keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}

/* nav bar */

nav {
  position: fixed;
  top: 0;
  height: 75px;
  width: 98%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 9997;
  transition: 1s;
}

@media (max-width: 1135px) {
  nav {
    padding: 0 10px;
  }
}

@media (max-width: 1020px) {
  nav {
    display: none;
  }
}

nav > #left-nav-bar > a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border-width: 0;
  transition: border-width 0.1s;
}

nav > #left-nav-bar > a:link,
nav > #left-nav-bar > a:visited,
nav > #left-nav-bar > a:active {
  text-decoration: none;
}

nav > #left-nav-bar > a:hover {
  text-decoration: none;
  border-bottom: solid white;
  border-width: 4px;
}

@media (max-width: 1135px) {
  nav > #left-nav-bar > a {
    padding: 5px 8px;
  }
}

/* left nav */

#left-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

#left-nav-bar > * {
  margin: 0 10px;
}

@media (max-width: 1135px) {
  #left-nav-bar > * {
    margin: 0;
  }
}

#right-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* right nav */

#right-nav-bar > * {
  margin: 0 5px;
}

#phone-number {
  font-size: 16px;
  margin-top: 4px;
}

.copy-link {
  display: flex;
}

.copy-link-input {
  font-size: 14px;
  width: 175px;
  font-family: 'Cabin', sans-serif;
  background: none;
  border: none;
  color: white;
  outline: none;
  text-align: right;
}

.copy-link-button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px;
}

.copy-link-button:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

#linkedin {
  width: 40px;
  margin-top: 15px;
}

#linkedin:hover {
  filter: invert(26%) sepia(82%) saturate(2122%) hue-rotate(181deg)
    brightness(91%) contrast(101%);
  animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px);
  }
  40% {
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
  }
  60% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  80% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/* footer */

footer {
  height: 13vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  color: white;
  font-size: 18px;
}

footer > img {
  width: 45px;
  margin: 15px;
}

footer > a {
  color: white;
  border-bottom: 2px solid white;
}

footer > a:hover {
  color: #0fa;
  border-color: #0fa;
}

footer > a:link,
footer > a:visited,
footer > a:active {
  text-decoration: none;
}

/* back to top button */

#back-to-top-button {
  display: inline-block;
  background-color: white;
  border: 5px solid black;
  box-shadow: 5px 5px black;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s, bottom 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 9996;
}

@media (max-width: 1020px) {
  #back-to-top-button {
    display: none;
  }
}

#back-to-top-button::after {
  content: '\f077';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: black;
}

#back-to-top-button:hover {
  cursor: pointer;
  background-color: #0fa;
  bottom: 40px;
}

#back-to-top-button:active {
  background-color: #0fa;
}

#back-to-top-button.show {
  opacity: 1;
  visibility: visible;
}
