@font-face {
  font-family: Minecraft;
  src: url('../Fonts/MinecraftRegular-Bmg3.otf');
}

/* grow-inc */
#grow-inc {
  background-image: url('../Images/Wallpaper/Growinc_Wallpaper.png');
  background-size: contain;
  background-repeat: repeat !important;
}

#growinc-mascot-container {
  height: 100%;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 5vw;
  margin-bottom: -5vh;
  z-index: 2;
}

@media (max-width: 1550px) {
  #growinc-mascot-container > img {
    width: 200px;
  }
}

@media (max-width: 1020px) {
  #growinc-mascot-container {
    display: none;
  }
}


#growinc-logo {
  width: 70%;
  z-index: 2;
}

#growinc-cta {
  margin-top: 40px;
  border: 8px solid #21242e;
  box-shadow: 10px 10px black, 10px 10px 15px #21242ec7, 0 0 15px #21242ec7;
  transition: 0.3s ease-in-out;
  object-fit: cover;
  z-index: 2;
}

#growinc-cta:hover {
  box-shadow: 16px 16px black, 10px 10px 15px #21242ec7, 0 0 15px #21242ec7;
}

#growinc-watch-button {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(42deg)
    brightness(100%) contrast(98%);
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  /* img color filter change */
}

#growinc-watch-trailer {
  color: #ffffff;
}

#growinc-game-info-container {
  background-image: url('../Images/Growinc_Para.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 5vw;
}

@media (max-width: 1550px) {
  #growinc-game-info-container {
    padding: 7vw 1vh;
  }
}

#growinc-game-info-details {
  padding: 15px 25px;
  font-family: Minecraft;
  z-index: 2;
  margin-bottom: 0;
}

@media (max-width: 1550px) {
  #growinc-game-info-details {
    padding: 15px 35px;
  }
}

#growinc-quote {
  color: #97a1cf;
  margin-bottom: 20px;
}

@media (max-width: 1550px) {
  #growinc-quote {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  #growinc-quote {
    font-size: 16px;
  }
}

#growinc-para {
  font-size: 20px;
}

@media (max-width: 1550px) {
  #growinc-para {
    font-size: 18px;
    line-height: 180%;
  }
}

@media (max-width: 1200px) {
  #growinc-para {
    font-size: 16px;
  }
}
