/* timelesstale */
#timeless-tale {
  background-image: url('../Images/Wallpaper/TimelessTale_Wallpaper.png');
}

#timelesstale-mascot-container {
  width: 100%;
  height: 95vh;
  pointer-events: none;
  user-select: none;
  display: flex;
  align-items: flex-end;
}

#witch-idle {
  background-image: url('../Images/Mascots/Witch_Idle.png');
  background-size: 90%;
  background-repeat: no-repeat;
  height: 70vh;
  width: 45vw;
}

#timelesstale-logo {
  width: 70%;
  margin-right: -40px;
}

#timelesstale-cta {
  margin-top: 40px;
  border: 8px solid #272727;
  box-shadow: 10px 10px black, 10px 10px 15px #272727a0, 0 0 15px #272727a0;
  transition: 0.3s ease-in-out;
  object-fit: cover;
}

@media (max-width: 1440px) {
  #timelesstale-cta {
    margin-top: 20px;
  }
}

#timelesstale-cta:hover {
  box-shadow: 16px 16px black, 10px 10px 15px #272727a0, 0 0 15px #272727a0;
}

#timelesstale-watch-button {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(42deg)
    brightness(100%) contrast(98%);
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  /* img color filter change */
}

#timelesstale-watch-trailer {
  color: #ffffff;
}

#timelesstale-game-info-details {
  background-color: rgba(0, 0, 0, 0.486);
  padding: 15px 25px;
  backdrop-filter: blur(3px);
  border: 5px solid black;
}

#timelesstale-quote {
  color: #cbb676;
  font-weight: bold;
}

